# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]


# Environment variables
.env

# Reports (optional - if you generate PDFs here)
reports/*.pdf

# VSCode settings (optional)
.vscode/
